
.MainTheme{
    background: url("../../Assets/backgroundHeader.png") fixed no-repeat center;
    background-size: cover;
    width: 100%;
    min-height: 40vh;
  }

  .Header{
    width: 100%;
    padding: 50px 20px;
    color:white;
  }
  
  .Typewriter{
    width: 0;
    color:white;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
  }

  .Information{
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
  }

  .userInterface{
    width: 100%;
  }

  .Button{
    background: transparent;
    border: rgb(106,0,158) solid 2px;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bolder;
  }

  .Button:hover{
    color: white;
    background: rgb(106,0,158);
  }