.Footer{
    background-color:  rgb(106,0,158);
    width:100%;
}

.Text{
    font-weight: 400;
    padding: 10px 20px;
    color: white;
    text-align: center;
    letter-spacing: .5px;
    margin: 0;
}